<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商家修改密码页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/changePassword.css">
</head>
<body>

    <div class="box">
        <div class="left-box"></div>
        <div class="right-box">
            <div class="register-box">
                <div class="title">CHANGE PASSWORD</div>
                <form>

                    <div class="form-group">
                      <label for="email">邮箱:</label>
                      <input type="text" class="form-control" id="email" placeholder="请输入邮箱" autocomplete="off" name="email">
                      <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                        <label for="code">请输入验证码:</label>
                        <div class="row">
                            <div class="col-6" >
                                <input type="text" class="form-control" id="code" placeholder="" autocomplete="off" name="code">
                                <div class="invalid-feedback"></div>
                            </div> 

                            <div class="col-6">
                                <button id="getcode" type="button" class="btn btn-secondary">获取验证码</button>
                            </div>
                        </div>                    
                    </div>

                    <div class="form-group">
                      <label for="password1">密码:</label>
                      <input type="password" class="form-control" id="password1" placeholder="请输入密码" autocomplete="off" name="password1">
                      <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                      <label for="password2">确认密码:</label>
                      <input type="password" class="form-control" id="password2" placeholder="请输入确认密码" autocomplete="off" name="password2">
                      <div class="invalid-feedback"></div>
                    </div>

                    
                    <button id="commit" type="button" class="btn btn-primary btn-block">提交</button>
                    <div class="fr title-login">已有账号？<a href="/login">登录</a></div>
                    
                </form>

            </div>

        </div  >
        
    </div>  

    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/validForm.js"></script>
    <script src="/js/changePassword.js"></script>
</body>
</html>